OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
PROJECT_DIR=/home/skotwind/PycharmProjects/I_can_help
DEFAULT_IMAGE_DIR=images
DEFAULT_RESPONSE_DIR=responces
DEFAULT_LOG_DIR=logs
DEFAULT_PROMPT_PATH=prompts/default_prompt.txt
LOG_LEVEL=INFO