# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.idea/

# Environment
.env

# Logs
logs/*
!logs/.gitkeep

# Images (optional — можно хранить или нет)
images/*
!images/.gitkeep

# Audio
*.wav

# OS
.DS_Store
Thumbs.db